.modal-backdrop {
    position:absolute;
    background: rgba(30, 30, 30, 0.85);
    width:100vw;
    height: 100vh;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;


    .modal {
        background:#f5f5f5;
        width:300px;
        min-height:350px;
        color:#272727;
        border-radius:5px;
    }

    .margin {
        margin-top:15px;
        margin-bottom:15px;
    }

    .btn-success {
        background: green;
    }

    .modal > .modal-header, .modal > .modal-body, .modal > .modal-footer {
        padding:15px;
    }

    .modal > .modal-header { 
        background: url('../assets/images/fond-texture.png') #192965;
        color:#FFFFFF;
    }

    .modal > .modal-header {
        border-bottom: #272727 1px solid;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size:15px;
        font-weight: 800;
    }
}