#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background : #f0efef;
    color: black;

    .v-application--wrap {
        min-height: auto;
    }

    section {
        padding:10% 15%;
    }

    .min-height-100 {
        min-height:100vh;
    }

    .bg-light {
        background:#FFFFFF;
        padding:25px;
        width:100%;
    }

    .title {
        margin: 0 0 25px 0;
        padding:15px 35px;
        border-bottom:1px solid #313a5d;
        text-transform: uppercase;
        font-weight: bold;
        color:#313a5d;
        position:relative;
    }

    .title::before {
        position:absolute;
        content:"";
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #313a5d;
        top:22px;
        left:0;
    }

    .v-icon {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
        padding:10px;
        transition: 0.3s;
    }

    a:hover {
        color: #bbcfff;
    }

    ul > li {
        list-style: none;
    }

    .header {
        z-index:10000;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        height:100%;
        .v-toolbar__content, .nav, .logo {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .nav, .nav > li  {
            height:100%;
        }

        .nav > li:not(.logo) {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            border-top:4px transparent solid;
            text-transform: uppercase;
            margin:0 10px;
        }

        .nav > li:not(.logo):hover {
            border-top:4px #ffa500 solid;
        }

        .logo {
            align-items: center;
            div {
                height:50px;
                background:rgba(25, 41, 101, 0.2);
                border:1px rgba(39, 39, 39, 0.5) solid;
                width:50px;
                border-radius:100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color:#ffa500;
            }
        }

        .theme--light.v-app-bar.v-toolbar.v-sheet {
            background: url('../images/fond-texture.png') #192965;
            color:#FFFFFF;
            padding:0 10%;
        }
    }

    .hr {
        /* centre verticalement les enfants entre eux */
        align-items: center;
    
        /* active flexbox */
        display: flex;
    
        /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
        text-align: center;
    }
    
    .hr::before,
    .hr::after {
        /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
        border-top: .0625em solid;
    
        /* nécessaire pour afficher les pseudo-éléments */
        content: "";
    
        /* partage le reste de la largeur disponible */
        flex: 1;
    
        /* espace les traits du texte */
        
    }

    .hr::before {
        /* espace les traits du texte */
        margin:0 0.5em 0 0;
    }

    .hr::after {
        margin:0 0 0 0.5em;
    }

    .v-btn__content {
        justify-content:space-between;
    }
}