#register{
    background: url('../assets/images/bg-register.jpg') center center fixed;
    display:block;
    //background:red;
    display:flex;
    justify-content: center;
    align-items: center;

    
}

