<template>
  <div>
    <section class="home">
      <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
      <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
      <div id="home-img">
        <img src="../assets/images/csgo.jpg" alt="">
        <img src="../assets/images/lan.jpg" alt="">
      </div>
      <div id="home-txt">
        <h1>Ker Lan</h1>
        <h2>Une nouvelle lan amateur/pro</h2>
        <p>Proche de Rennes dans les locaux de Campus Academy
        Venez jouer à différents jeux de façon amateur mais aussi pro
        Une compétition pour tout les niveaux
        Un endroit spécialement mis en place pour jouer a 
        plein de jeux rétro !</p>
      </div>
    </section>
    <section class="home-pres">
      <div class="pres-box">
        <img src="../assets/images/retrogaming.jpg" alt="">
        <div class="pres-txt">
          <h3>Deux espaces !</h3>
          <p>
            Découvrez deux espaces dévoués à une ambiance.
            <br/>
            Un espace dédié aux compétitions. Que vous soyez amateur ou pro,
            venez affronter une équipe, un joueur en face à face sur le jeu
            de l'édition. Certains matchs seront retransmis sur grand écran !
            <br/>
            Venez vous amuser autour d'un jeu simple et amusant assis sur un canapé.
            Comme chez vous mais avec du monde, rigoler ensemble autour d'une partie de
            mario-kart ou de vieux jeux disponible sur émulateur, plus de 100 !
          </p>
        </div>
      </div>
      <div class="pres-box">
        <div class="pres-txt">
          <h3>Deux espaces !</h3>
          <p>
            Découvrez deux espaces dévoués à une ambiance.
            <br/>
            Un espace dédié aux compétitions. Que vous soyez amateur ou pro,
            venez affronter une équipe, un joueur en face à face sur le jeu
            de l'édition. Certains matchs seront retransmis sur grand écran !
            <br/>
            Venez vous amuser autour d'un jeu simple et amusant assis sur un canapé.
            Comme chez vous mais avec du monde, rigoler ensemble autour d'une partie de
            mario-kart ou de vieux jeux disponible sur émulateur, plus de 100 !
          </p>
        </div>
        <img src="../assets/images/retrogaming.jpg" alt="">
      </div>
    </section>
  </div>
</template>

<style lang="scss">
#app {
  .home{
    background:#192965;
    padding:0 5%;
    display:flex;
    height:90vh;
    justify-content: space-between;
    align-items: center;
    > div {
      width:50%;
    }
    #home-img{
      position:relative;
      height:100%;
      > img{
        width:70%;
        position:absolute;
        top:40%;
        left:40%;
        transform:translate(-50%,-50%);
        &:last-child{
          position:absolute;
          top:60%;
          left:60%;
          transform:translate(-50%,-50%);
        }
      }
    }
    #home-txt{
      text-align:center;
      h1, h2, p {
        color:#FFFFFF;
      }
      h1{
        font-size:6rem;
        padding:10px 0;
        
      }
      h2 {
        font-size:2rem;
        padding:20px 0;
      }
    }
  }
  .home-pres{
    height: 100vh;
    background:#f0efef;
    padding:5% 0;
    .pres-box{
      display: flex;
      justify-content: center;
      align-items: center;
      height:40%;
      margin:2% 0;
      img{
        height:80%;
      }
      .pres-txt{
        width:40%;
        height:100%;
        background:#192965;
        padding:10px;
        h3{
          text-align: center;
          font-size:2rem;
          padding:0 0 20px;
        }
      }
    }
  }
}
</style>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    // HelloWorld
  }
}
</script>
