<style lang="scss">
    @import "../assets/scss/register.scss";
</style>

<template>
    <section id="register" class="min-height-100">
        <div class="bg-light">
            <h1 class="title">Connexion</h1>
            <v-form v-model="valid" ref="form">
                <v-text-field
                label="Pseudo"
                v-model="pseudo"
                :rules="pseudoRules"
                :counter="16"
                required
                ></v-text-field>
               
                <v-text-field
                label="Password"
                v-model="password"
                :rules="passwordRules"
                required
                ></v-text-field>
                <div class="mt-4">
                    <v-btn type="submit" color="success" dark>Connexion
                        <v-icon dark right>mdi-checkbox-marked-circle</v-icon>
                    </v-btn>
                    <v-btn href="/recovery" class="ma-2" color="red" dark>Password perdu ?
                    </v-btn>
                    <div class="hr margin">OU</div>
                    <v-btn href="/register" class="mt-4" color="primary" dark>Inscrition
                        <v-icon dark right>mdi-account-circle</v-icon>
                    </v-btn>
               </div>
            </v-form>
        </div>
    </section>
</template>