<style lang="scss">
    @import "../assets/scss/register.scss";
</style>

<template>
    <section id="register" class="min-height-100">
        <div class="bg-light">
            <h1 class="title">Inscription</h1>
            <v-form v-model="valid" ref="form">
                <v-text-field
                label="Pseudo"
                v-model="pseudo"
                :rules="pseudoRules"
                :counter="16"
                required
                ></v-text-field>
                <v-text-field
                label="E-mail"
                v-model="email"
                :rules="emailRules"
                required
                ></v-text-field>
                <v-text-field
                label="Confirmation d'e-mail"
                v-model="checkEmail"
                :rules="checkEmailRules"
                required
                ></v-text-field>
               
                <v-text-field
                label="Password"
                v-model="password"
                :rules="passwordRules"
                required
                ></v-text-field>

                <v-text-field
                label="Confirmation du password"
                v-model="checkPassword"
                :rules="checkPasswordRules"
                required
                ></v-text-field>
              
                <div>
                    <h2 class="title">Traitement des informations via ce formulaire.</h2>
                    <p>
                        Les informations recueillies font l’objet d’un traitement informatique destiné à fournir et sécuriser l'accès au jeu et au site internet. Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en envoyant un ticket via la section contact de notre site internet. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
                    </p>
                </div>

                <hr />

                <v-checkbox
                label=" J'ai lu et j'accepte les conditions d'utilisation. J'accepte également la RGPD en vigueur sur le site."
                v-model="checkbox"
                :rules="[(v) => !!v || 'Vous devez accepter avant de continuer!']"
                required
                ></v-checkbox>

                <hr />
                <div class="mt-4">
                    <v-btn @click="submit" :class="{ red: !valid, green: valid }">Inscription</v-btn>
               </div>
            </v-form>
        </div>
    </section>
</template>