<template>
    <div class="header">
        <v-app-bar>
            <v-toolbar-title>Projet Ker Lan</v-toolbar-title>
            <ul class="nav">
                <li>
                    <router-link to="/">Accueil</router-link>
                </li>
                <li class="logo">
                    <div>
                        <span>PKL</span>
                    </div>
                </li>
                <li>
                    <router-link to="/actualites">Actualités</router-link>
                </li>
            </ul>
            <v-btn class="ma-2" color="primary" dark @click="loginModal">Connexion
                <v-icon dark right>mdi-account-circle</v-icon>
            </v-btn>
        </v-app-bar>
        <loginModal v-show="isModalVisible" @close="closeModal" />
    </div>
</template>
<script>
    import LoginModal from './LoginModal';
    export default {
        name: 'vue-header',
        components: { 
            'loginModal': LoginModal
        },
        data () {
            return {
                isModalVisible: false,
            };
        },
        methods: {
            loginModal() {
                this.isModalVisible = true;
            },
            closeModal() {
                this.isModalVisible = false;
            }
        },
    }
</script>