<template>
  <form method="POST" action="/login" class="modal-backdrop">
    <div class="modal">
      <div class="modal-header">
        <slot name="header">
          Connexion
          <button
            type="button"
            class="btn-close"
            @click="close"
          >
            x
          </button>
        </slot>
      </div>
      <div class="modal-body">
        <slot name="body">
          <v-text-field
            v-model="name"
            :counter="25"
            :maxlength="25"
            :rules="nameRules"
            type="text"
            max="25"
            label="Identifiant"
            required
          ></v-text-field>
          <v-text-field
            v-model="name"
            :counter="25"
            :rules="nameRules"
            :maxlength="25"
            label="Password"
            type="password"
            max="25"
            required
          ></v-text-field>
          <v-app>
            <v-btn type="submit" class="ma-2" color="success" dark>Connexion
                  <v-icon dark right>mdi-checkbox-marked-circle</v-icon>
            </v-btn>

            <v-btn href="/recovery" class="ma-2" color="red" dark>Password perdu ?
            </v-btn>

            <div class="hr margin">OU</div>
            <v-btn href="/register" outline class="ma-2" color="primary" dark>Inscrition
                <v-icon dark right>mdi-account-circle</v-icon>
            </v-btn>
          </v-app>
        </slot>
       </div>
       <div class="modal-footer">
          
      </div>
    </div>
  </form>
</template>

<style lang="scss">
    @import "../assets/scss/login.scss";
</style>
<script>
  export default {
    name: 'loginModal',
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>