<template>
  <div id="app">
    <vue-header></vue-header>
    <v-app>
      <router-view/>
    </v-app>
    <vue-footer></vue-footer>
  </div>
</template>

<script>
import Header from './components/Header';
import Footer from './components/Footer';

export default {
    components:{
        'vue-header': Header,
        'vue-footer': Footer
    }
}
</script>


